.introducao-faq {
    padding-top: 70px;
}

.texto-card-faq {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

.texto-faq {
    width: 50%;
}

.encontre-resposta {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.paragrafo-introducao-faq {
    width: 60%;
    margin-bottom: 30px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 400;
}

.conhecer-produtos {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3029D9;
    transition: 0.5s;
}

.conhecer-produtos:hover {
    color: #4A7CFF;
}

.card-faq {
    width: 521px;
    height: 499px;
    background-color: #F5F6FA;
    border-radius: 20px;
    box-shadow: 4px 6px 16px #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.duvidas {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.conhecimento-desvende {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #9A9A9A;
}

.link-saiba-mais {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #4A7CFF;
    transition: 1.5s;
}

.link-saiba-mais:hover {
    color: #3029D9;
}

/* Duvidas frequentes */
.duvidas-de-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 50px;
}


.duvidas-frenquentes {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.conteiner-faq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divulgacao-dos-produtos-esquerda {
    width: 30%;
    margin-bottom: 30px;
}

.icone-texto-faq {
    display: flex;
    flex-direction: row;
}

.fa-crosshairs {
    font-size: 45px;
    margin-right: 10px;
    color: #3029D9;
}

.texto-divulgacao-faq {
    margin-bottom: 100px;
}

.texto-divulgacao-faq h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.texto-divulgacao-faq p {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400;
}

/* negocio */

.conteudo-negocio {
    background-color: #F5F6FA;
    padding: 40px;
}

.imagem-texto-negocio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagem-mulher-com-copo {
    border-radius: 40px;
    box-shadow: 4px 6px 16px #000;
}

.texto-negocio {
    width: 50%;
}

.negocios {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #3029D9;
}

.desvendando {
    width: 64%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
}

.o-significado {
    color: #3029D9;
}

.comecamos-a-operar {
    width: 60%;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}

.confiança-sucesso {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

    color: #3029D9;
}


/* o que é a salesforce */

.cards-texto-salesforce {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.o-que-e-salesforce {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

.empresa-softwares {
    width: 34%;
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
}

.gerenciamento-relacionamento {
    color: #3029D9;
    margin-top: 100px;
}

.cards-duvidas {
    width: 70%;
    height: 347px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;

}

.info-card {
    background-color: #D9D9D9;
    border-radius: 15px;

    display: flex;
    align-items: self-end;
    padding: 30px;
}

.paragrafo-info-card {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Artigo-negocio */

.ArtigoVisual {
    background-color: #F5F6FA;
}

.ConteudoMultimidia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}

.TextoImagem {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.negocioQue {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #3029D9;
}

.o-que-a-salesforce-faz {
    width: 50%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.nossa-plataforma {
    width: 90%;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conheca-equipe {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #3029D9;
    text-decoration: none;
    transition: 1.5s;
}

.conheca-equipe:hover {
    color: #3029D9;
}

.ConteudoMultimidia img {
    box-shadow: 4px 6px 16px #000;
    border-radius: 20px;
}

@media (max-width: 480px) {

    .texto-card-faq {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .card-faq {
        width: 90%;
    }

    .conhecimento-desvende {
        width: 80%;
        font-size: 19px;
    }

    .texto-faq {
        width: 90%;
    }

    .encontre-resposta {
        width: 100%;
        font-size: 25px;
    }

    .paragrafo-introducao-faq {
        width: 100%;
    }

    .conhecer-produtos {
        font-size: 17px;
    }


    .duvidas-de-produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .conteiner-faq {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .duvidas-frenquentes {
        font-size: 25px;
        width: 100%;
    }

    .divulgacao-dos-produtos-esquerda {
        width: 100%;
    }

    .icone-texto-faq h2 {
        margin-bottom: 10px;
        font-size: 19px;
    }

    .icone-texto-faq {
        width: 100%;
    }


    .imagem-texto-negocio {
        padding: 30px;
    }

    .imagem-texto-negocio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .imagem-mulher-com-copo {
        width: 100%;
        height: 300px;
    }

    .texto-negocio {
        width: 100%;
    }

    .desvendando {
        width: 100%;
        font-size: 30px;
    }

    .comecamos-a-operar {
        width: 100%;
    }

    .negocios {
        position: relative;
        bottom: 380px;
        left: 10px;

    }

    .cards-texto-salesforce {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .o-que-e-salesforce {
        font-size: 35px;

    }

    .empresa-softwares {
        width: 100%;
        font-size: 20px
    }

    .cards-duvidas {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
    }

    .paragrafo-info-card {
        font-size: 18px;
    }

    .ConteudoMultimidia {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .TextoImagem{
        width: 100%;
    }

    .ConteudoMultimidi{
        width: 100%;
    }

    .o-que-a-salesforce-faz{
        width: 100%;
        font-size: 27px;
    }

    .negocioQue{
        position: relative;
        bottom: 500px;
        left: 5px;
    }

    .imagem-dois-homens{
        width: 100%;
        height: 450px;
        margin-top: 40px;
    }


}

@media (max-width: 768px){

    .texto-card-faq {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .card-faq {
        width: 100%;
    }

    .texto-faq {
        width: 100%;
    }

    .encontre-resposta {
        width: 100%;
    }

    .paragrafo-introducao-faq {
        width: 100%;
    }



    .conteiner-faq {
        width: 100%;
    }

    .divulgacao-dos-produtos-esquerda {
        width: 55%;
    }



    .imagem-texto-negocio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .imagem-mulher-com-copo {
        width: 90%;
    }

    .texto-negocio {
        width: 90%;
    }
    .desvendando {
        width: 99%;
    }

    .comecamos-a-operar {
        width: 100%;
    }


    .empresa-softwares {
        width: 60%;
    }

    .cards-duvidas {
        display: flex;
        flex-direction: column;
    }



    .ConteudoMultimidia {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .TextoImagem {
        width: 80%;
    }

    .o-que-a-salesforce-faz {
        width: 70%;
    }
}

@media (width: 1024px){

    .texto-card-faq {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .card-faq {
        width: 100%;
    }

    .texto-faq {
        width: 100%;
    }

    .encontre-resposta {
        width: 100%;
    }

    .paragrafo-introducao-faq {
        width: 100%;
    }



    .conteiner-faq {
        width: 100%;
    }

    .divulgacao-dos-produtos-esquerda {
        width: 55%;
    }



    .imagem-texto-negocio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .imagem-mulher-com-copo {
        width: 90%;
    }

    .texto-negocio {
        width: 90%;
    }
    .desvendando {
        width: 99%;
    }

    .comecamos-a-operar {
        width: 100%;
    }


    .empresa-softwares {
        width: 60%;
    }

    .cards-duvidas {
        display: flex;
        flex-direction: column;      
    }

    .info-card {
        justify-content: center;
    }
    


    .ConteudoMultimidia {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .TextoImagem {
        width: 80%;
    }

    .o-que-a-salesforce-faz {
        width: 70%;
    }

    .imagem-dois-homens {
        width: 80%;
    }
}